---

---
<html class="bg-background">
  <main>
    <body>

        <div  class="mx-auto rounded-full w-1/2 aspect-square overflow-hidden">
         <!-- classic issues with imports -->
           <img src="haircut_church.jpg" >
         </div>
         <div class="p-5">
           <div class="text-5xl text-center font-semibold text-text">
            Ibrahim Musaddequr Rahman
          </div>
          <div class="text-xl p-2 text-text font-normal text-center">
            iamr@umich.edu
          </div>

         </div>

    </body>
  </main>
</html>


