---
import * as Writeup from "../components/zelda/writeup.md"
const Content = Writeup.Content;
---
<html>
<body>
   <main>
    <Content /> 
<iframe frameborder="0" src="https://itch.io/embed/2516678" width="552" height="167"><a href="https://iamr2003.itch.io/494-p1-nes-zelda-recreation">494 P1 - NES Zelda Recreation by iamr2003</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed/2546582" width="552" height="167"><a href="https://iamr2003.itch.io/glowswarm">Glowswarm by iamr2003</a></iframe>
    </main> 
</body>
</html>

<style is:global>
  :root {
    --text: #f1ede9;
    --background: #171410;
    --primary: #f78b2b;
    --secondary: #faf5f5;
    --accent: #a12edb;
  }
  html {
    background-color: var(--background);
    color: var(--text);
    font-family: "Poppins", Poppins, sans-serif;
  }
  .row-wrapper {
    display: flex;
    flex-direction: row;
  }
  .card {
    /* amazon, 505050 */
    /* the carbon color: #A3B0BB */
    /* background-color: #A3B0BB;
        color: #161819; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    /* max-width: 50rem; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 5%; */
  }
  img {
    max-width: 100%;
    border-radius: 8px;
  }
</style>
