<html class="bg-background">
    <body>
        <div class="flex p-10">
        <!-- fix color, but only a bit -->
            <input
                type="text"
                class="mx-auto placeholder:text-secondary placeholder:font-bold placeholder:italic p-3 pr-5 pl-5 rounded-full font-bold bg-gray-400 text-secondary"
                placeholder="Filter Projects By..."
            />
        </div>
        <!-- gotta do bento box of project cards/photos -->
    </body>
</html>
